<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ZzapC0rd</title>
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <div class="main_container">
    <div class="left_logo_container">
      <div class="logo">
        <img src="logo.png" width="168px" height="168px" />
      </div>
      <div class="logounder">
        <img src="logounder.png" width="168px" height="auto" />
      </div>
    </div>
    <div class="right_login_container">
      <h1>ZzapC0rd에 오신것을 환영합니다</h1>
      <div class="email_container">
        <label>이메일</label>
        <input type="email" id="register_email" />
      </div>
      <div class="password_container">
        <label>비밀번호</label>
        <input type="password" id="register_password" />
      </div>
      <a href="/find_password"><label>비밀번호를 잊으셨나요?</label></a>
      <div class="login_button_container">
        <input type="submit" value="로그인" />
      </div>
    </div>
  </div>
</body>

</html>
