doctype html
html
	head
		meta(charset="utf-8")
		title ZzapC0rd
		link(rel="stylesheet", href="/CSS/login.css")
	body
		.main_container
			.left_logo_container
				.logo
					img(src="/images/logo.png", width="168px", height="168px")
				.logounder
					img(src="/images/logounder.png", width="168px", height="auto")
			.right_login_container
				h1.login_title Login Game World!
				.email_container
					label.auth_label 이메일
					input#register_email.auth_form(type="email")
				.password_container
					label.auth_label 비밀번호
					input#register_password.auth_form(type="password")
				a(href="/find_password")
					label.forgot_password 비밀번호를 잊으셨나요?
				.login_button_container
					button.login_button(type="submit") 로그인
				.register
					| 계정이 없으신가요?
					a.register_click(href="/register") 가입하기
