doctype html
//
    Visualize by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
    head
        title Visualize by TEMPLATED
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="assets/css/main.css")
    body
        // Wrapper
        #wrapper
            // Header
            header#header
                span.avatar
                    img(src="images/avatar.jpg", alt="")
                h1
                    | This is 
                    strong Visualize
                    | , a responsive site template designed by 
                    a(href="http://templated.co") TEMPLATED
                    br
                    | 						and released for free under the Creative Commons License.
                ul.icons
                    li
                        a.icon.style2.fa-twitter(href="#")
                            span.label Twitter
                    li
                        a.icon.style2.fa-facebook(href="#")
                            span.label Facebook
                    li
                        a.icon.style2.fa-instagram(href="#")
                            span.label Instagram
                    li
                        a.icon.style2.fa-500px(href="#")
                            span.label 500px
                    li
                        a.icon.style2.fa-envelope-o(href="#")
                            span.label Email
            // Main
            section#main
                // Thumbnails
                section.thumbnails
                    div
                        a(href="images/fulls/01.jpg")
                            img(src="images/thumbs/01.jpg", alt="")
                            h3 Lorem ipsum dolor sit amet
                        a(href="images/fulls/02.jpg")
                            img(src="images/thumbs/02.jpg", alt="")
                            h3 Lorem ipsum dolor sit amet
                    div
                        a(href="images/fulls/03.jpg")
                            img(src="images/thumbs/03.jpg", alt="")
                            h3 Lorem ipsum dolor sit amet
                        a(href="images/fulls/04.jpg")
                            img(src="images/thumbs/04.jpg", alt="")
                            h3 Lorem ipsum dolor sit amet
                        a(href="images/fulls/05.jpg")
                            img(src="images/thumbs/05.jpg", alt="")
                            h3 Lorem ipsum dolor sit amet
                    div
                        a(href="images/fulls/06.jpg")
                            img(src="images/thumbs/06.jpg", alt="")
                            h3 Lorem ipsum dolor sit amet
                        a(href="images/fulls/07.jpg")
                            img(src="images/thumbs/07.jpg", alt="")
                            h3 Lorem ipsum dolor sit amet
            // Footer
            footer#footer
                p
                    | © Untitled. All rights reserved. Design: 
                    a(href="http://templated.co") TEMPLATED
                    | . Demo Images: 
                    a(href="http://unsplash.com") Unsplash
                    | .
        // Scripts
        script(src="assets/js/jquery.min.js")
        script(src="assets/js/jquery.poptrox.min.js")
        script(src="assets/js/skel.min.js")
        script(src="assets/js/main.js")
