<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ZzapC0rd</title>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="main_container">
    <div class="left_logo_container">
      <div class="logo">
        <img src="logo.png" width="168px" height="168px" />
      </div>
      <div class="logounder">
        <img src="logounder_zap.png" width="168px" height="auto" />
      </div>
    </div>
    <div class="right_login_container">
      <h1 class="login_title">Login Game World!</h1>
      <div class="email_container">
        <label class="auth_label">이메일</label>
        <input type="email" id="register_email" class="auth_form"/>
      </div>
      <div class="password_container">
        <label class="auth_label">비밀번호</label>
        <input type="password" id="register_password" class="auth_form"/>
      </div>
      <a href="/find_password"><label class="forgot_password">비밀번호를 잊으셨나요?</label></a>
      <div class="login_button_container">
        <button type="submit" class="login_button">로그인</button>
      </div>
      <div class="register">계정이 없으신가요?
        <a class="register_click" href="/register">가입하기</a>
      </div>
    </div>
  </div>
</body>

</html>
